.content{
    margin-top: 20px;
}
::-webkit-file-upload-button {
    text-align: center;
    border: 2px solid black;
    padding: 10px;
    width: 55%;
    margin-left: 10%;
    border-radius: 10px;
    font-weight: 500;
    font-size: 20px;
    transition: 0.2s;
    margin-bottom: 20px;
    background-color: white;
  }

  ::-webkit-file-upload-button:hover {
    -ms-transform: scale(1.02); /* IE 9 */
    -webkit-transform: scale(1.02); /* Safari 3-8 */
    transform: scale(1.02); 
    /* box-shadow: 5px 5px 5px 5px rgba(51, 81, 161, 0.5); */
    background-color: rgb(217, 238, 255);
    transition: 0.2s;
    box-shadow: none;
  }

  .inputs{
    display: flex;
    flex-direction: column;
  }

  .inputs > button{
    text-align: center;
    /* border: 1px solid black; */
    padding: 10px;
    width: 80%;
    margin-left: 10%;
    border-radius: 10px;
    font-weight: 500;
    font-size: 20px;
    transition: 0.2s;
    margin-bottom: 20px;
    background-color: white;
  }

  .inputs > button:hover{
    -ms-transform: scale(1.05); /* IE 9 */
    -webkit-transform: scale(1.05); /* Safari 3-8 */
    transform: scale(1.05); 
    /* box-shadow: 5px 5px 5px 5px rgba(51, 81, 161, 0.5); */
    background-color: rgb(217, 238, 255);
    transition: 0.2s;
    box-shadow: none;
  }

  .links{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .file{
    font-size: 30px;
    border: 2px solid black;
    margin-bottom: 20px;
    border-radius: 5px;
    text-align: center;
    width: 30%;
    transition: 0.2s;
  }

  .file:hover{
    -ms-transform: scale(1.05); /* IE 9 */
    -webkit-transform: scale(1.05); /* Safari 3-8 */
    transform: scale(1.05); 
    /* box-shadow: 5px 5px 5px 5px rgba(51, 81, 161, 0.5); */
    background-color: rgb(217, 238, 255);
    transition: 0.2s;
    box-shadow: none;
  }